<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>转转前端vue项目</title>
  <link rel="dns-prefetch" href="https://img.58cdn.com.cn">
  <meta name="description" content="转转前端vue项目">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta content="telephone=no,email=no" name="format-detection" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <script>
    var domain = 'zhuanzhuan.com';
    var setCookie = function (opt) {
      const expires = (new Date()).getTime() + 3600 * 24 * 90;
      for (let p in opt) {
        if (opt.hasOwnProperty(p)) {
          document.cookie = p + '=' + opt[p] + '; domain=' + domain + '; path=/; expires=' + new Date(expires).toUTCString();
        }
      }
    };

    // 删除t不等于50的缓存的登录信息
    if (/MicroMessenger/gi.test(navigator.userAgent)) {
       setCookie({
         t: 50,
       });
    } else {
      setCookie({
        t: 51,
      });
    }
  </script>
</head>

<body>
  <div id="app">
    <%- include common/loading %>
  </div>
  <!-- built files will be auto injected -->
</body>

</html>